.folders-section
  width: 65vw
  margin-bottom: 45px
  .folders-wrapper
    display: flex
    justify-content: space-between
  .folders
    //width: 840px // В зависимости от размера экрана
    display: flex
    .folders-container
      overflow: hidden
      .itemser
        display: flex