.folders-section

  width: 65vw
  font-family: Inter
  font-weight: 600
  color: white
  margin-bottom: 45px

  .folders-wrapper
    display: flex
    justify-content: space-between
    .folders-info
      .name-section
        font-size: 1.5em
        margin-bottom: 4px
      .section-count
        font-size: 0.8em
        opacity: 0.5
        padding-bottom: 30px
    .create-folder
      display: flex
      justify-content: center
      align-items: center
      height: 45px
      width: 220px
      background: #333333
      border-radius: 5px
      font-size: 14px //TODO: em
      font-weight: 400
      cursor: pointer
  .folders
    //width: 840px // В зависимости от размера экрана

    display: flex


    .folders-container
      overflow: hidden
      .itemser
        display: flex

  .folder-create-window
    box-sizing: border-box
    z-index: 99999999999
    padding: 22px 22px 20px 37px
    flex-direction: column
    display: none
    width: 450px
    height: 250px
    position: absolute
    top: 50%
    left: 50%
    margin-right: -50%
    transform: translate(-50%, -150px)
    background: #333333
    color: #F8F9FA
    border-radius: 10px
    opacity: 1 !important
    .exit-icon
      align-self: end
      width: 16px
      height: 16px
      background: url("../../../public/images/exitIcon.svg")
      cursor: pointer
    .name-window
      align-self: center
      font-size: 1.5em
      margin-bottom: 20px
    .name-folder
      margin-bottom: 10px
    .input-name-folder
      height: 35px
      width: 350px
      background: #232323
      outline: none
      border: none
      margin-bottom: 20px
      color: #F8F9FA
      font-weight: 500
      padding-left: 10px
    .buttons
      display: flex
      justify-content: space-between
    button
      width: 150px
      height: 40px
      border-radius: 5px
      font-size: 1em
      border: none
      font-weight: 600
      color: #F8F9FA
      cursor: pointer
    .button-exit
      background: #007BFF //#6C757D
    .button-create
      background: #FD3162

