.folders-container
  padding-left: 50px
  .folders
    width: 800px //TODO: for wrap!! 1080x720???
    display: flex
    flex-wrap: wrap
    font-family: Inter, sans-serif
    font-weight: 600
    color: white