.canvas
  display: none
.books
  width: 800px //TODO: for wrap!! 1080x720???
  display: flex
  flex-wrap: wrap
#drop-area
  transition: 0.5s
  height: 170px
  width: 130px
  margin: 25px
  border: 2px dashed #434343
  background: url('../../../public/images/downloadBook.svg') no-repeat center
  border-radius: 10px
  display: flex
  justify-content: center
  align-items: center
  &:hover //TODO: dont repeat
    transition: 0.5s
    border: 2px dashed #636363
    background: url('../../../public/images/downloadBookActive.svg') no-repeat center


#drop-area.highlight
  transition: 0.5s
  border: 2px dashed #636363
  background: url('../../../public/images/downloadBookActive.svg') no-repeat center
#drop-area.error
  transition: 0.5s
  border: 2px dashed #FD3162
  background: url('../../../public/images/downloadBookError.svg') no-repeat center


p
  margin-top: 0

.my-form
  margin-bottom: 10px

#gallery
  margin-top: 10px

#gallery img
  width: 150px
  margin-bottom: 10px
  margin-right: 10px
  vertical-align: middle

.button
  display: inline-block
  padding: 10px
  background: #ccc
  cursor: pointer
  border-radius: 5px
  border: 1px solid #ccc

.button:hover
  background: #ddd

#fileElem
  cursor: pointer
  opacity: 0
  width: 100%
  height: 100%
