body {
  background: #202020;
  margin: 0;

}
p{
  margin: 0;
  padding: 0;
}
/*.App{*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*}*/
.App{
  display: grid;
  grid-template-columns: 1fr 4fr;

  /*grid-template-areas:*/
  /*        "A A B B   B B B B   B B B B"*/
  /*        "A A C C   C C C C   C C C C"*/
  /*        "A A C C   C C C C   C C C C"*/
  /*        "A A C C   C C C C   C C C C"*/

  /*        "A A C C   C C C C   C C C C"*/
  /*        "A A C C   C C C C   C C C C"*/
  /*        "A A C C   C C C C   C C C C"*/
  /*        "A A C C   C C C C   C C C C"*/

  /*        "A A C C   C C C C   C C C C"*/
  /*        "A A C C   C C C C   C C C C"*/
  /*        "A A C C   C C C C   C C C C"*/
  /*        "A A C C   C C C C   C C C C";*/
}